<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sajid.bussinesssale">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Database.Realm_ORM"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MainActivity" android:screenOrientation="portrait" />
        <activity android:name=".Activities.RegisterAccount" android:screenOrientation="portrait" />
        <activity android:name=".Activities.SignupActivity" android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Charts.ChartEngineActivity" android:screenOrientation="portrait" />
        <activity android:name=".Charts.PieChartActivity" android:screenOrientation="portrait" />
    </application>

</manifest>